// Variables
$primary-color: #ff30b4;
$secondary-color: #ff88b1;
$background-color-body: #ffe3f1;
$background-color-momentos: #fff0f8;
$background-color-banda-sonora: #ffe9f4;
$background-color-cancion: #ffdaee;
$text-color-dark: black;
$text-color-heading-album: #ff008c;
$text-color-heading-momentos-banda: #d60080;
$text-color-calendar-heading: #333;
$text-color-event-date: #ff30b4;
$white-color: #ffffff;
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-medium: rgba(0, 0, 0, 0.15);
$shadow-dark: rgba(0, 0, 0, 0.2);
$shadow-event-light: rgba(0, 0, 0, 0.05);
$shadow-event-medium: rgba(0, 0, 0, 0.1);
$shadow-event-dark: rgba(0, 0, 0, 0.1); // Used for image shadow in events
$heart-color: #ff5ebd;