// Album Section
.album {
    padding: 2em 1em;
    background-color: $background-color-body;
    border-top: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;

    h2 {
        font-size: 1.5rem;
        color: $text-color-heading-album;
        margin-bottom: 1em;
    }

    .fotos {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(3, 1fr);
        gap: 1em;
        padding: 0 1em;
        overflow-y: auto;

        img {
            width: 100%;
            max-width: 200px;
            border-radius: 15px;
            box-shadow: 0 4px 10px $shadow-dark;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}